:root {
    font-size: 13px;
    --primaryColor: #d6861e;
    --secondaryColor: #4D7EA8;
    --tertiaryColor: #9E90A2;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ede60c #d6861e;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}


*::-webkit-scrollbar-thumb {
    background-color: #ede60c;
    border-radius: 18px;
    border: 3px solid #ffc107;
}


/* generalsRule */
img {
    width: 50px;
}

p,
h6 {
    margin: 0;
}

input {
    border: none;
    outline: none;
}

/* utility */
.fa-solid {
    width: 30px;
    font-size: 16px;
}

.fa-magnifying-glass {
    font-size: 13px;
}

.max_space {
    display: block;
    overflow: hidden;
    max-inline-size: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ==============
        left
==================*/

/* UserInterface */
.userInterface {
    background-color: var(--primaryColor);
    border: 1px solid black;
}

.userInterfaceContainer {
    border-bottom: 2px solid black;
}

.notification {
    background-color: #4D7EA8;
}

/* contact */
.contact {
    border-radius: 50px;
    box-shadow: inset 0 0 0 0 #4D7EA8;
    color: #4D7EA8;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.activeContact {
    background-color: #ffdb00;
}

.contact:hover {
    box-shadow: inset 260px 0 0 0 #54b3d6;
    color: white;
}

.lastAccess {
    color: lightgray;
    font-size: 11px;
}

/* ==============
        Right
==================*/
/* chatInterface */
.chatInterface {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

/* message */
.messageContainer {
    background-image: url(../img/mine.jpg);
}

.message {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    background-color: green;
    max-inline-size: 250px;
    overflow-wrap: break-word;
}

.sent {
    float: right;
}

.received {
    text-align: start;
    float: left;
}