
:root{
    font-size: 13px;
}

.picProfileFreme{
    width: 5rem;
}

.profilePic{
    width: 4rem;
}

p,
h6{
    margin: 0;
}

input{
    border: none;
}




.messageContainer{
    background-image: url(../img/mine.jpg);
}

.message{
    padding: 0.3rem;
    margin: 0.2rem;
    border-radius: 5px;
}

.sent{
    max-inline-size: 250px;
    overflow-wrap: break-word;
    float: right;
    background-color: green;
}

.received{
    text-align: start;
    max-inline-size: 250px;
    overflow-wrap: break-word;
    float: left;
    background-color: green;
}

.max_space{
    display: block;
    overflow: hidden;
    max-inline-size: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}